<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>swift-Blog</title>

  <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
  <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  <!-- jQuery library (served from Google) -->
    <script src="{% static 'js/jquery-1.11.3.js' %}"></script>
<!-- bxSlider Javascript file -->
<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
<!-- bxSlider CSS file -->
<link href="{% static 'js/jquery.bxslider.css' %}" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

    <body>
        
         <div class="topo">
            <div class="conteudo_topo">
            <img id="logo_topo" src="{% static 'images/logo.png' %}">
            <img id="cel_topo" src="{% static 'images/cel_topo.png' %}">
             
            <div>    
            <p class="txt_postagens_home">Novo Aplicativo SWIFT.</p>
            <p class="txt_postagens_home">Pensou, tá feito!</p>
            </div>
                
                <div class="rss">
                <img src="{% static 'images/rss.png' %}">
                    <h5>Receba nossas</h5>
                    <h5>novidades</h5>
                </div>    
                
            </div>    
        </div>
        <div class="section">
        <div class="container">
        
            <div class="row center divreceitas">
                
            <div class="col s12 m12 l12 center">
                <div class="txt_receitas_topo">
                <img id="img_topo_receita" src="{% static 'images/receitas_titulo.png' %}">
                <div class="txt_receita1">
                    <p>COSTELA Gaúcha</p>
                    <p>3 RIPAS GAÚCHA SWIFT MAIS</p>
                    <p>Updated by Nome on November 18, 2015, 0:00 a.m.</p>
                </div>
                <div class="rede_social">
                    <img src="{% static 'images/rede_social_03.png' %}">
                    <img src="{% static 'images/rede_social_05.png' %}">
                    <img src="{% static 'images/rede_social_07.png' %}">
                </div>
                </div>    
            </div>
                
            
            
                
            
            </div>
        
        </div>
       </div> 
        <div class="section">
        <div class="container">
            
            
        
            
          <div class="row">
              
            <div class="col s12 m12 l9 center">
                
            <img class="max-img" src="{% static 'images/imgGrandeInterna.jpg' %}">
            <img class="max-img" src="{% static 'images/dividirInterna.jpg' %}">
            <div class="row">    
            <div class="col s12 m12 l12 center">
            <div class="txt_postmais">    
            <p>Lorem Ipsum nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>

<p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>

<p>Lorem Ipsum nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>    
                </div> 
                </div>
                </div>
            </div>
            <div class="col s12 m12 l3 center posrelative left_left">
                <img class="imgMaisPost" src="{% static 'images/maispost.jpg' %}">
                
                    
                    <div class="col s12 m6 l12 left maispostleft">
                        <img src="{% static 'images/img01.jpg' %}">
                        <p>Bife de Chorizo ao molho</p>
                        <p>de mostarda escura Swift</p>
                    </div>
                
                
                    
                 <!--   <div class="col s12 m6 l12 left maispostleft">
                        <img src="images/img01.jpg">
                        <p>ESCONDIDINHO </p>
                        <p>DE CARNE MOÍDA</p>
                    </div>
                    
                    
                
                
                <div class="col s12 m6 l12 left maispostleft">
                        <img src="images/img01.jpg">
                        <p>ESCONDIDINHO </p>
                        <p>DE CARNE MOÍDA</p>
                    </div>
                
                <div class="col s12 m6 l12 left maispostleft">
                        <img src="images/img01.jpg">
                        <p>ESCONDIDINHO </p>
                        <p>DE CARNE MOÍDA</p>
                    </div>
                
                <div class="col s12 m6 l12 left maispostleft">
                        <img src="images/img01.jpg">
                        <p>ESCONDIDINHO </p>
                        <p>DE CARNE MOÍDA</p>
                    </div>
                <div class="col s12 m6 l12 left maispostleft">
                        <img src="images/img01.jpg">
                        <p>ESCONDIDINHO </p>
                        <p>DE CARNE MOÍDA</p>
                    </div>
                <div class="col s12 m6 l12 left maispostleft">
                        <img src="images/img01.jpg">
                        <p>ESCONDIDINHO </p>
                        <p>DE CARNE MOÍDA</p>
                    </div>
                <div class="col s12 m6 l12 left maispostleft">
                        <img src="images/img01.jpg">
                        <p>ESCONDIDINHO </p>
                        <p>DE CARNE MOÍDA</p>
                    </div>
                <div class="col s12 m6 l12 left maispostleft">
                        <img src="images/img01.jpg">
                        <p>ESCONDIDINHO </p>
                        <p>DE CARNE MOÍDA</p>
                    </div> -->
              
            </div>
            
              
          </div>
            
        </div>
        </div> 
        
        <div class="footer">
        
        <img class="cel_footer" src="{% static 'images/cel_topo.png' %}">
        <img class="logo_footer" src="{% static 'images/logo_rodape.png' %}">
            <div class="txt_footer">
                <p>Simples, prático</p>
                <p>e pensado para ajudar</p>
                <p>você com apenas um toque.</p>
                <p>Copyright © 2015 Swift Mercado da Carne.</p>
            </div>
        <img class="google_play" src="{% static 'images/google_play.png' %}">
        <img class="itunes" src="{% static 'images/itunes.png' %}">


        <h1 class="txt_responsivo_footer">DISPONÍVEL COMO SWIFT MERCADO DA CARNE EM:</h1>

        <img class="btn_footer_g" src="{% static 'images/bt-google-footer.png' %}">
        <img class="btn_footer_i" src="{% static 'images/bt-loja-apple.png' %}">
        </div>
    </body>

</html>